<!DOCTYPE html>

<head>
    <title>{{ title }}</title>
</head>

<body>
    <div>
        <a href="/">Ir a Inicio</a>
    </div>

    <h1>
        Crear nueva moto
    </h1>
    <form method="POST" action="/products/create">
        <div>
            <span>Marca: </span>
            <input name="brand" type="text">
        </div>

        <div>
            <span>Modelo:</span>
            <input name="model" type="text">
        </div>

        <div>
            <span>Tipo: </span>
            <select name="type">
                <option value="Sport">
                    Sport
                </option>
                <option value="Naked">
                    Naked
                </option>
                <option value="Scooter">
                    Scooter
                </option>
                <option value="Trail">
                    Trail
                </option>
            </select>
        </div>

        <div>
            <span>Potencia: </span>
            <input name="power" type="number">
        </div>

        <div>
            <span>Peso:</span>
            <input name="weight" type="number">
        </div>

        <div>
            <span>Precio: </span>
            <input name="price" type="number">
        </div>
        
        <div>
            <span>Imagen: </span>
            <input name="image" type="text">
        </div>


        <button type="submit">
            Añade moto
        </button>
    </form>

</body>

</html>