<!DOCTYPE html>
<link rel="stylesheet" href="./stylesheets/index.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>
        Alquila tu moto a un precio increible!
    </h1>
    <div>
        <a href="/login">Login</a>
    </div>

    <div>
        <a href="/register">Registrate</a>
    </div>

    <div>
        <a href="/products">Ver Motos</a>
    </div>

</body>
</html>