<!DOCTYPE html>

<head>
    <title>Motorland Login</title>
</head>

<body>
    <h1>Login</h1>

    <form action="/users/login" method="POST">
        <label>
            <p>Email</p>
            <input type="text" name="email">
        </label>

        <label>
            <p>Password</p>
            <input type="password" name="password">
        </label>

        <input type="submit" value="Login!">

        {{#if error}}
            <p style="color: red; font-size: 18px">{{ error }}</p>
        {{/if}}
    </form>
</body>

</html>