<!DOCTYPE html>

<head>
    <title>{{ title }}</title>
</head>

<body>
    <div>
        <a href="/products">Volver al listado</a>
    </div>

    {{!-- <h1>La moto con ID {{ id }}</h1> --}}

    {{#if product}}
        <h2>Modelo: {{ this.product.brand }} {{ this.product.model }}</h2>
         <h3>Tipo: {{ this.product.type }}</h3>
        <h3>Potencia: {{ this.product.power }} C.V</h3>
        <h3>Peso: {{ this.product.weight }} Kg</h3>
        <h3>Precio: {{ this.product.price }} €/día</h3>

        <img src="{{ this.product.image }}">
    {{else}}
        <h3>No hemos encontrado la mascota que buscas con ID: {{ this.product.id }} </h3>
    {{/if}}
    
</body>
</html>