<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./stylesheets/index.css">
    
    <title>{{ title }} </title>
</head>

<body>

    <nav>
        <form action="/users/logout" method="POST">
            <input type="submit" value="Logout">
        </form>
    </nav>

    <div>
        <a href="/products/create">Crear nueva moto</a>
    </div>

    <h1 class="title">Todas las motos para alquilar</h1>

        {{#each products}}
        <ul>
            <li> Marca: {{ this.brand }}</li>
            <li> Modelo: {{ this.model }}</li>
            <li> Categoría: {{ this.type }}</li>
            <li> Precio: {{ this.price }} €/día</li>
            <img src= {{ this.image }} alt= {{ this.model }} width="200">
            {{#gte price 100}}
                <td>Si</td>
                {{else}}
                <td>No</td>
            {{/gte}}
            <td>
               <p>Eliminar</p>
                <a href="/products/{{_id}}/delete">
                    <img src="/images/bin-button.png" width="15">
                </a>
            </td>
            <br>
            <td>
                <a href="/products/{{ this._id }}">Ver Detalle</a>
            </td>
            

        </ul>
        {{/each}}

    {{!-- </table> --}}
    
    <script src="/js/index.js"></script>
</body>

</html>