<!DOCTYPE html>

<head>
    <title>Motorland Register</title>
</head>
<body>
    <h1>Registrate</h1>

    <form action="/users/register" method="POST">
        <label>
            <p>Email</p>
            <input type="text" name="email" minlength="6">
        </label>

        <label>
            <p>Password</p>
            <input type="password" name="password">
        </label>

        <input type="submit" value="Registrate!">

        {{#if error}}
            <p style="color: red; font-size: 18px">{{ error }}</p>
        {{/if}}
    </form>
</body>
</html>